* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color: white; }
  * img {
    width: 180px;
    height: 180px; }

html {
  max-height: 100vh;
  overflow-y: hidden;
  max-width: 1150px; }

body {
  width: 100%;
  background-image: url("../images/flower.jpg"); }

header {
  height: 28vh;
  position: relative; }

.header::after {
  content: '';
  display: table;
  clear: both; }

.option {
  margin-top: 30px; }
  .option .lang button {
    padding: 0 30px;
    color: white;
    font-family: "Hind Guntur", sans-serif;
    font-size: 30px;
    background-color: #7c7b7b;
    border-style: none;
    border-radius: 0; }
  .option .english {
    float: left;
    margin-left: 10px; }
  .option .maori {
    float: right;
    margin-right: 10px; }

.option::after {
  content: '';
  display: table;
  clear: both; }

.header-box {
  background-color: #826362;
  width: 62%;
  margin-top: 30%; }
  .header-box h1 {
    display: block;
    text-align: center;
    font-size: 64px;
    padding-left: 14px;
    padding-right: 14px;
    letter-spacing: 18px;
    font-family: "Hind Guntur", sans-serif;
    color: white; }

.index-btn, .index-btn1 {
  background-color: #759e7C;
  border: none;
  display: block;
  font-size: 69px;
  padding: 0px 60px;
  margin-top: 15%;
  letter-spacing: 8px; }
  .index-btn a, .index-btn1 a {
    color: white;
    text-decoration: none;
    font-family: "Hind Guntur", sans-serif; }

.header {
  padding-bottom: 18px; }

.topnav {
  margin-top: 1%;
  width: 151px; }
  .topnav i {
    color: black;
    text-align: center;
    display: block; }
  .topnav span, .topnav p {
    font-size: 30px;
    display: block;
    background-color: black;
    font-family: "Hind Guntur", sans-serif;
    width: 90%;
    margin-top: 10px;
    text-align: center;
    text-decoration: none; }
  .topnav a {
    text-decoration: none !important; }

.left {
  float: left; }

.right {
  float: right; }

.message {
  display: block;
  font-size: 46px;
  background-color: black;
  font-family: "Hind Guntur", sans-serif;
  width: 34%;
  padding: 10px;
  margin-top: 10px;
  text-align: center; }

main {
  height: 72vh;
  background-color: white; }

#menu {
  top: 10px;
  display: flex;
  font-size: 44px;
  text-align: center;
  font-family: sans-serif;
  letter-spacing: 4px;
  padding-bottom: 16px; }
  #menu .early, #menu .all, #menu .drink {
    width: 24%;
    display: block;
    background-color: #D18D88; }
    #menu .early .topletter, #menu .all .topletter, #menu .drink .topletter {
      display: block; }
    #menu .early .bottomletter, #menu .all .bottomletter, #menu .drink .bottomletter {
      font-size: 21px;
      letter-spacing: 0;
      display: block; }
    #menu .early a, #menu .all a, #menu .drink a {
      text-decoration: none; }
  #menu .drink {
    display: block;
    width: 22%;
    background-color: #729E75;
    padding: 8px; }
    #menu .drink .beverage {
      display: block; }

.indication {
  background-color: white;
  display: flex;
  padding-top: 18px;
  padding-bottom: 23px; }
  .indication p {
    color: black;
    display: inline-block; }

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block; }

.df {
  background-color: #996069; }

.vegan {
  background-color: #63a86d; }

.gf {
  background-color: #b2ba46; }

.qty {
  display: flex; }
  .qty [name=quantity] {
    background: transparent;
    border: 0;
    width: 1em;
    font-size: 2em;
    text-align: center;
    order: 2;
    color: black; }
  .qty .minus, .qty .plus {
    display: inline-block;
    font-size: 2.9em;
    background: white;
    width: 35px;
    height: 30px;
    text-align: center;
    line-height: 0.8em;
    position: relative;
    color: #826362;
    text-decoration: none; }
  .qty .minus {
    order: 1;
    width: 40px; }
  .qty .plus {
    order: 3;
    height: 20px; }
  .qty .add-btn {
    background-color: #636363;
    border: none;
    font-family: "Hind Guntur", sans-serif;
    font-size: 22px;
    display: block;
    margin-left: 0px;
    width: 80px;
    order: 4; }

.big-box {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
  height: 100%; }
  .big-box .left-wrap {
    width: 65%;
    margin: 0;
    overflow-y: scroll;
    margin-top: 20px; }
    .big-box .left-wrap .morning, .big-box .left-wrap .allday, .big-box .left-wrap .drink {
      padding-bottom: 12px; }
      .big-box .left-wrap .morning h2, .big-box .left-wrap .allday h2, .big-box .left-wrap .drink h2 {
        color: black;
        margin-left: 7%;
        padding-bottom: 12px;
        font-family: "Hind Guntur", sans-serif;
        font-size: 32px; }
      .big-box .left-wrap .morning .product-wrap, .big-box .left-wrap .allday .product-wrap, .big-box .left-wrap .drink .product-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0; }
        .big-box .left-wrap .morning .product-wrap .product, .big-box .left-wrap .allday .product-wrap .product, .big-box .left-wrap .drink .product-wrap .product {
          padding-bottom: 10px; }
      .big-box .left-wrap .morning p, .big-box .left-wrap .allday p, .big-box .left-wrap .drink p {
        color: black;
        font-family: "Hind Guntur", sans-serif;
        font-size: 19px; }
    .big-box .left-wrap .sides {
      font-family: "Hind Guntur", sans-serif;
      width: 92%; }
      .big-box .left-wrap .sides h3 {
        font-size: 28px;
        color: #D18D88;
        text-decoration: underline; }
      .big-box .left-wrap .sides .sides-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 93%; }
        .big-box .left-wrap .sides .sides-wrap span {
          font-size: 23px;
          color: black;
          margin: 0; }
        .big-box .left-wrap .sides .sides-wrap button {
          font-size: 23px;
          padding: 3px;
          color: #636363;
          border: 3px solid;
          background-color: white; }
    .big-box .left-wrap .aday {
      width: 95%; }
  .big-box .right-wrap {
    width: 35%;
    margin-top: 88px;
    right: 0; }
    .big-box .right-wrap .border-box {
      margin-right: 23px;
      width: 89%; }
      .big-box .right-wrap .border-box .price-wrap {
        border: 1px solid black;
        height: 51vh;
        position: relative;
        width: 100%; }
        .big-box .right-wrap .border-box .price-wrap .order-list h3, .big-box .right-wrap .border-box .price-wrap .total h3 {
          padding-top: 20px;
          text-align: center;
          color: black;
          font-family: "Hind Guntur", sans-serif;
          font-size: 31px;
          display: block;
          padding-bottom: 1px; }
        .big-box .right-wrap .border-box .price-wrap .order-list hr, .big-box .right-wrap .border-box .price-wrap .total hr {
          width: 65%;
          border: 0.5px solid black; }
        .big-box .right-wrap .border-box .price-wrap .total {
          bottom: 10%;
          position: absolute;
          left: 0;
          right: 0; }
          .big-box .right-wrap .border-box .price-wrap .total hr {
            border: 0.5px solid black; }
      .big-box .right-wrap .border-box a {
        text-decoration: none; }
      .big-box .right-wrap .border-box button {
        width: 100%;
        display: block;
        margin: 0 auto;
        background-color: #636363;
        border: none;
        font-family: "Hind Guntur", sans-serif;
        font-size: 29px;
        margin-top: 12px; }
      .big-box .right-wrap .border-box .progress-bar-fill {
        height: 22px;
        background-color: red;
        display: block; }

.main-scroll {
  height: 70vh;
  overflow-y: scroll; }
  .main-scroll .bar-wrapper {
    padding-top: 160px;
    padding-bottom: 60px;
    width: 100%;
    padding-bottom: 100px; }
    .main-scroll .bar-wrapper .progress-bar {
      width: 70%;
      background-color: #D18D88;
      padding: 3px;
      border-radius: 3px;
      box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.2); }
    .main-scroll .bar-wrapper .progress-bar-fill {
      display: block;
      background-color: #c0d6cb;
      height: 22px;
      border-radius: 3px;
      animation: loading 2s ease-in-out forwards;
      margin: 0; }
@keyframes loading {
  to {
    width: 100%; } }
  .main-scroll .queue {
    width: 70%;
    padding-bottom: 130px; }
    .main-scroll .queue h4 {
      font-family: "Hind Guntur", sans-serif;
      color: #71BDB3;
      font-size: 50px;
      text-align: center; }
  .main-scroll .finish-hr {
    width: 70%;
    border: 0.7px solid black; }
  .main-scroll .help {
    width: 87%;
    padding-top: 100px;
    padding-bottom: 130px; }
    .main-scroll .help p {
      font-family: "Hind Guntur", sans-serif;
      color: black;
      font-size: 50px;
      display: block;
      text-align: center; }

footer {
  display: none; }

@media only screen and (max-width: 767px) {
  header {
    height: auto; }

  .option .lang button {
    font-size: 15px; }

  .header-box {
    margin-top: 52%;
    width: 250px; }
    .header-box h1 {
      letter-spacing: 2px;
      font-size: 34px; }

  .index-btn {
    font-size: 34px;
    padding: 0px 23px; }

  .index-btn1 {
    font-size: 22px;
    padding: 0px 23px; }

  body {
    background-size: 400px; }

  main {
    padding-bottom: 42px; }

  .header .header-box {
    margin-top: 200px;
    width: 250px; }
    .header .header-box h1 {
      letter-spacing: 2px;
      font-size: 34px; }
  .header .topnav i {
    font-size: 2em; }
  .header .topnav span {
    font-size: 21px; }

  #menu {
    display: flex;
    font-size: 18px;
    padding-bottom: 0; }
    #menu .early, #menu .all, #menu .drink {
      width: 38%; }
    #menu .bottomletter {
      font-size: 13px !important; }

  .indication .dot {
    height: 15px;
    width: 15px; }

  .big-box .left-wrap {
    width: 100%;
    margin: 0 auto; }
    .big-box .left-wrap .moring h2, .big-box .left-wrap .all h2, .big-box .left-wrap .drink h2 {
      font-size: 22px; }
    .big-box .left-wrap .drink {
      padding-bottom: 43px; }
    .big-box .left-wrap img {
      max-width: 100%; }
    .big-box .left-wrap .add-btn {
      width: 75px; }
    .big-box .left-wrap .sides .sides-wrap span {
      font-size: 14px; }
    .big-box .left-wrap .sides .sides-wrap button {
      font-size: 13px; }
  .big-box .right-wrap {
    margin-top: 70px;
    width: 50%;
    display: none; }
    .big-box .right-wrap .border-box {
      margin-right: 0; }
  .big-box .product-wrap img {
    width: 130px;
    height: 130px;
    display: block; }
  .big-box .product-wrap .product {
    width: 50%; }
    .big-box .product-wrap .product p {
      font-size: 14px;
      text-align: center; }
    .big-box .product-wrap .product .dot {
      margin-left: 9px;
      width: 14px;
      height: 14px; }
    .big-box .product-wrap .product .qty {
      width: 132px; }
      .big-box .product-wrap .product .qty [name=quantity] {
        width: 17px;
        font-size: 1.2em; }
      .big-box .product-wrap .product .qty .minus, .big-box .product-wrap .product .qty .plus {
        font-size: 1.9em;
        width: 16px; }
      .big-box .product-wrap .product .qty .plus {
        margin-right: 9px; }
      .big-box .product-wrap .product .qty .add-btn {
        font-size: 17px;
        width: 45px; }

  .message {
    font-size: 30px;
    width: 44%;
    font-size: 24px; }

  .main-scroll .bar-wrapper {
    padding-top: 60px;
    padding-bottom: 30px; }
  .main-scroll .queue {
    padding-bottom: 30px; }
    .main-scroll .queue h4 {
      font-size: 26px;
      text-align: center; }
  .main-scroll .help {
    padding-top: 45px; }
    .main-scroll .help p {
      font-size: 30px; }

  footer {
    display: block;
    background-color: #bcc9d8;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; }
    footer .cart i {
      color: white;
      margin-left: 12px; }
    footer .cart span {
      margin-right: 10px;
      letter-spacing: 3px;
      display: inline-block;
      margin-left: 12px;
      font-family: "Hind Guntur", sans-serif; }
    footer .cart .footer-btn {
      float: right;
      background-color: #636363;
      border: none;
      font-family: "Hind Guntur", sans-serif;
      font-size: 20px;
      padding: 0px 12px;
      border-radius: 0px; }
    footer .cart .footer-pop {
      display: none;
      height: 205px; } }
@media only screen and (min-width: 1170px) {
  header {
    height: auto; }

  .indication {
    padding-top: 18px;
    padding-bottom: 23px; }

  .sides {
    width: 90% !important; }

  .price-wrap hr {
    width: 28% !important; } }

/*# sourceMappingURL=style.css.map */
