* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color: white; }

body {
  width: 100%;
  background-image: url("../images/flower.jpg"); }

.header::after {
  content: '';
  display: table;
  clear: both; }

.header-box {
  background-color: #826362;
  width: 62%;
  margin-top: 40%; }
  .header-box h1 {
    display: block;
    text-align: center;
    font-size: 64px;
    padding-left: 14px;
    padding-right: 14px;
    letter-spacing: 18px;
    font-family: "Hind Guntur", sans-serif;
    color: white; }

.index-btn {
  background-color: #759e7C;
  border: none;
  display: block;
  font-size: 69px;
  padding: 0px 60px;
  margin-top: 35%;
  letter-spacing: 8px; }
  .index-btn a {
    color: white;
    text-decoration: none;
    font-family: "Hind Guntur", sans-serif; }

.header {
  padding-bottom: 18px; }

.topnav {
  margin-top: 1%;
  width: 151px; }
  .topnav i {
    color: black;
    text-align: center;
    display: block; }
  .topnav span {
    font-size: 30px;
    display: block;
    background-color: black;
    font-family: "Hind Guntur", sans-serif;
    width: 90%;
    margin-top: 10px;
    text-align: center; }
  .topnav a {
    text-decoration: none; }

.left {
  float: left; }

.right {
  float: right; }

#menu {
  top: 10px;
  display: flex;
  font-size: 44px;
  text-align: center;
  font-family: "Hind Guntur", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 16px; }
  #menu .early, #menu .all {
    width: 24%;
    display: block;
    background-color: #D18D88; }
    #menu .early .bottomletter, #menu .all .bottomletter {
      font-size: 21px;
      letter-spacing: 0;
      display: block; }
  #menu .drink {
    display: block;
    width: 22%;
    background-color: #729E75;
    padding: 8px; }
    #menu .drink .beverage {
      display: block; }

.indication {
  background-color: white;
  display: flex;
  padding-top: 12px; }
  .indication p {
    color: black;
    display: inline-block; }

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block; }

main {
  background-color: white; }

h2 {
  color: black;
  font-family: "Hind Guntur", sans-serif;
  font-size: 30px;
  margin-left: 23px;
  display: block;
  padding-bottom: 10px; }

.wrapper {
  display: flex; }

.product-wrap {
  width: 68%;
  margin-left: 23px;
  display: flex; }
  .product-wrap .product {
    width: 38%;
    margin-left: 0px; }
    .product-wrap .product p {
      color: black;
      font-family: "Hind Guntur", sans-serif;
      font-size: 21px; }
    .product-wrap .product .qty {
      display: flex; }
      .product-wrap .product .qty [name=quantity] {
        background: transparent;
        border: 0;
        width: 1em;
        font-size: 2em;
        text-align: center;
        order: 2;
        color: black; }
      .product-wrap .product .qty .minus, .product-wrap .product .qty .plus {
        display: inline-block;
        font-size: 2.9em;
        background: white;
        width: 35px;
        height: 30px;
        text-align: center;
        line-height: 0.8em;
        position: relative;
        color: #826362;
        text-decoration: none; }
      .product-wrap .product .qty .minus {
        order: 1;
        width: 40px; }
      .product-wrap .product .qty .plus {
        order: 3;
        height: 20px; }
      .product-wrap .product .qty .add-btn {
        background-color: #636363;
        border: none;
        font-family: "Hind Guntur", sans-serif;
        font-size: 30px;
        display: block;
        margin-left: 0px;
        order: 4; }

.border-box {
  width: 32%;
  margin-right: 23px; }
  .border-box .price-wrap {
    border: 1px solid black; }
    .border-box .price-wrap .order-list h3 {
      padding-top: 20px;
      text-align: center;
      color: black;
      font-family: "Hind Guntur", sans-serif;
      font-size: 31px; }
    .border-box .price-wrap .order-list hr {
      width: 65%;
      border: 0.7px solid black; }
  .border-box button {
    width: 100%;
    display: block;
    margin: 0 auto;
    background-color: #636363;
    border: none;
    font-family: "Hind Guntur", sans-serif;
    font-size: 29px; }

/*# sourceMappingURL=style.css.map */
