@import "base_folder/variables";
@import "base_folder/base";
@import "base_folder/header";


.header::after {
	content:'';
	display:table;
	clear: both;

}
.option{
	margin-top: 30px;
	.lang{
		button{
			padding: 0 30px;
			color: white;
			font-family: $primary-font;
			font-size: 30px;
			background-color:#7c7b7b;
			border-style: none;
			border-radius: 0;

		}

	}
	.english{
		float: left;
		margin-left: 10px;
	}
	.maori{
		float: right;
		margin-right: 10px;
	}
}
.option::after{
		content:'';
	display:table;
	clear: both;

}

.header-box {

	background-color: #826362;
	width: 62%;
	margin-top: 30%;
	h1 {
		display: block;
		text-align: center;
		font-size: 64px;
		padding-left: 14px;
		padding-right: 14px;
		letter-spacing: 18px;
		font-family: $primary-font;
		color: white;
	}
}

.index-btn{
	background-color:#759e7C;
	border:none;
	display: block;
	font-size:69px;
	padding: 12px 60px;
	margin-top: 15%;
	letter-spacing: 8px;
}

.message{
		display: block;
		font-size: 46px;
		background-color: black;
		font-family: $primary-font;
		width: 34%;
		padding:10px;
		margin-top:10px;
		text-align: center;
}
main{
	height: 72vh;
	background-color:white;
}

#menu {
	top:10px;
	display:flex;
	font-size:44px;
	text-align:center;
	font-family: sans-serif;
	letter-spacing:4px;
	padding-bottom:16px;

	.early, .all, .drink {
		width:24%;
		display:block;
		background-color:#D18D88;
		.topletter{
			display: block;
		}
		.bottomletter{
			font-size:21px;
			letter-spacing:0;
			display:block;

		}
		a{
			text-decoration:none;
		}
	}
	.drink {
		display:block;
		width:22%;
		background-color:#729E75;
		padding:8px;
		// float:right;
		.beverage{
			display:block;
		}

	}

}

.indication {
	background-color:white;
	display:flex;
	padding-top: 18px;
	padding-bottom: 23px;
	p{
		color:black;
		display:inline-block;
	}
	.typeWrapper {
		display: flex;
		.type {
			margin: 0 30px;
			p {
				font-family: $primary-font;
			}
		}
	}
}

.dot {
		height: 25px;
		width: 25px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
	}
	.df{
		background-color:#996069;
	}
	.vegan{
		background-color:#63a86d;
	}
	.gf{
		background-color:#b2ba46;
	}
	.qty{
			display: flex;

		[name=quantity]{
				background: transparent;
				border: 0;
				width: 1em;
				font-size: 2em;
				text-align:center;
				order:2;
				color: black;

				}
		.minus,.plus{
				display: inline-block;
				font-size: 2.9em;
				background: white;
				width: 35px;
				height:30px;
				text-align: center;
				line-height: 0.8em;
				position: relative;
				color:#826362;
				text-decoration: none;
			}
		.minus{
				order:1;
				width: 40px;
			}
		.plus{
				order:3;
				height:20px;
			}


		.add-btn{
				background-color:#636363;
				border:none;
				font-family:$primary-font;
				font-size:22px;
				display:block;
				margin-left:0px;
				width: 80px;
				order:4;
			}
		}


.big-box{
	background-color:white;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	padding-top:10px;
	height: 100%;
	.left-wrap{
		width: 65%;
		margin:0;
		overflow-y:scroll;
		height: 94%;
		margin-top: 20px;
		.morning, .allday , .drink{

			padding-bottom:12px;

			h2{
				color:black;
				margin-left: 7%;
				padding-bottom:12px;
				font-family:$primary-font;
				font-size: 32px;
			}
			.product-wrap{
			display:flex;
			flex-wrap:wrap;
			justify-content:space-between;
		    margin:0;

			    .product{
			    	padding-bottom:10px;
			    }
			}
			p{
				color:black;
				font-family:$primary-font;
				font-size:19px;
			}

		}
	}
	.right-wrap{
		width:35%;
		margin-top: 88px;
		// position: fixed;
		right: 0;
		.fa-shopping-cart{
			display: none;
		}
		.border-box{
			margin-right: 23px;
			width: 89%;
			.price-wrap{
		 		border: 1px solid black;
		 		height: 51vh;
		 		position: relative;
		 		width: 100%;
		 			.order-list, .total{
						h3{
							padding-top:20px;
							text-align:center;
							color:black;
							font-family:$primary-font;
							font-size: 31px;
							display: block;
	   						padding-bottom: 1px;
						}
						hr{
							width:65%;
							border: 0.5px solid black;
						}
						.foodList {
							height: 30vh;

							overflow-y: scroll;
							overflow-x: hidden;
							margin-top: 2%;
							.orderBox{
								margin-top: 1%;
								display: flex;
								p{
									text-align: center;
									font-family:$primary-font;
									font-size: 15px;
									color: black;
									margin-right: 0;
									display: block;
									margin-top: 4%;
									flex:9;
								}
								span {
									font-family:$primary-font;
									font-size: 15px;
									color: black;
								}
								.closeBtn{
									margin-top: 4% !important;
									background-color: transparent;
									margin-top: 0;
									flex:1;
								  	outline: none;
									.fa {
										font-size: 13px;
										color: black;
										margin-left: 6%;

									}
								}
							}
						}
					}
					.total{
						position: absolute;
						left: 0;
						right: 0;
						hr{
							border: 0.5px solid black;
						}
						.priceDiv {
							height: 100%;
							.totalPrice {
									text-align: center;
									font-family:$primary-font;
									font-size: 22px;
									color: black;
							}
						}
						.mobileClose {
							display: none;
						}

					}
			}
			a{
				text-decoration:none;
			}
			button{
				width:100%;
				display:block;
				margin:0 auto;
				background-color:#636363;
				border:none;
				font-family:$primary-font;
				font-size:29px;
				margin-top: 12px;

			}
			.progress-bar-fill {
				height:22px;
				background-color:red;
				display:block;
			}
		}
	}

}

.heightChange {
	height: 60vh !important;

}


::-webkit-scrollbar {
		width: 2px;  /* remove scrollbar space */
		// background: transparent;  /* optional: just make scrollbar invisible */
	}
::-webkit-scrollbar-thumb {
		background: #D18D88;
		border-radius: 10px;
}
.main-scroll{
	height: 70vh;
    overflow-y: scroll;

	.bar-wrapper {
		padding-top:160px;
		padding-bottom:60px;
		width:100%;
		padding-bottom:100px;
		.progress-bar{
			width:70%;
			background-color:#D18D88;
			padding:3px;
			border-radius:3px;
			box-shadow: inset 0 1px 3px rgba(255, 255, 255 , .2)
		}
		.progress-bar-fill{
			display:block;
			background-color:#c0d6cb;
			height:22px;
			border-radius:3px;
			animation: loading 2s ease-in-out forwards;
			margin:0;
		}
		@keyframes loading{
			to {
				width:100%;
			}
		}
	}
	.queue, {
		width:70%;
		padding-bottom:130px;
		h4{
			font-family:$primary-font;
			color:#71BDB3;
			font-size:50px;
			text-align: center;
		}
	}
		.finish-hr{
			width:70%;
			border: 0.7px solid black;
		}
	.help{
		width:87%;
		padding-top:100px;padding-bottom:130px;
		p{
			font-family:$primary-font;
			color:black;
			font-size:50px;
			display:block;
			text-align:center;
		}
	}

}

@media only screen and (max-width: 767px){

	header{
		height: auto;
	}
	.option{
		.lang{
			button{
				font-size: 15px;
			}
		}
	}
	.header-box {
		margin-top: 52%;
		width: 250px;
		h1{
			letter-spacing: 2px;
			font-size: 34px;
			}
		}
	.index-btn {
		font-size: 28px;
		padding: 12px 30px;
	}

	body {
		background-size: 400px;
	}
	main{
		padding-bottom: 42px;
	}
	.header{
		.header-box {
		margin-top: 200px;
		width: 250px;
		h1{
			letter-spacing: 2px;
			font-size: 34px;
			}
		}

		.topnav{
			i{
	    	font-size: 2em;
			}
			span{
				font-size: 21px;
			}

		}


	}


	#menu{
		display: flex;
		font-size: 18px;
		padding-bottom: 0;
		.early , .all, .drink {
			width: 38%;

		}
		.bottomletter{
			font-size: 13px !important;
		}
	}
	.indication{
		.dot{
				height: 15px;
	    		width: 15px;
	    	}
				.type {
					margin: 0px 14px !important;
				}
	}
	.big-box{
		.left-wrap{
			width: 100%;
			margin: 0 auto;
			.moring,.all,.drink{
				h2{
				font-size: 22px;
				}
			}
			.drink{
				padding-bottom: 43px;
			}
			img{
				max-width: 100%;

			}
			.add-btn{
				width: 75px;

			}
		}
		.right-wrap{
			h3 {
				font-size: 14px !important;
			}
			background-color:#bcc9d8;
			position: absolute;
			width: 100vw;
			bottom: 0;
			height: 8vh;
			.border-box{
				margin-top: 5%;
			}
			i{
				color: white;
				margin-left: 12px;
				margin-top: 10px;
				font-size: 2em;
				display: block !important;
			}
			span{
				margin-right: 10px;
				letter-spacing: 3px;
				display: inline-block;
				margin-left: 12px;
				font-family: $primary-font;

			}
			button{
				position: absolute;
				right: 0;
				top: 0 !important;
				margin: 0 !important;
				width: 36% !important;
				height: 8vh;
				height: 8vh;
				font-size: 16px !important;
			}
			.price-wrap {
				border: none !important;
				.order-list {
					width: 50%;
					float: left;
				}
				.total {
					width: 50%;
					float: right !important;
					position: relative!important;
				}
				.mobileClose {
					display: block;
					position: absolute;
					bottom: 0;
					left: 30%;
					margin-bottom: 13%;


					span {
						border : 1px solid white;
						border-radius: 50px;
						padding: 3px 31px;

					}
				}
			}
		}
		.product-wrap{
			border: none;
			img{
				width: 130px;
				height: 130px;
				display: block;
			}
			.product{
				width: 50%;

				p{
					font-size: 14px;
					text-align: center;
				}

			.qty{
					 width: 132px;

				[name=quantity]{
						    width: 17px;
						font-size: 1.2em;
						}
				.minus,.plus{

						font-size: 1.9em;
						width: 16px;
					}
				.plus{
				margin-right: 9px;

				}
				.add-btn{
						font-size:17px;
						width: 45px;
					}
			}

			}
		}

	}
	.message {

		font-size: 30px;
		width: 44%;
		font-size: 24px;
	}
.main-scroll{

	.bar-wrapper {
		padding-top:60px;
		padding-bottom:30px;
		}

	.queue{
		padding-bottom: 30px;
		h4{
			font-size:26px;
			text-align: center;
			}
		}
	.help{
		    padding-top: 45px;
		p{
			font-size: 30px;
		}
	}

	}
	.flexwrap {
		display: flex;
		width: 39%;
		.dot {
			width: 12px;
			height: 12px;
		}
	}
	.right-wrap{
		margin-top: 2%!important;
	}

}

@media only screen and (min-width: 1025px){

	header{
		height: auto;
	}
	main{
		height: 64vh;

	}
	.header-box {
		margin-top: 18%!important;
	}

	.topnav {
		i {
			font-size: 3em;
		}
		span {
			font-size: 21px !important;

		}
	}

	#menu {
		font-size: 26px !important;
	}

	.indication{
		padding:7px 0px;
	}

	.right-wrap {
		margin-top: 1% !important;
		.foodList{
			height: 25vh!important;
		}
	}
	.price-wrap{
		hr{
			width: 28% !important;
		}
	}
	.product-wrap {
		width: 90%;
	}
	.main-scroll {
		height: 63vh !important;
	}

}
